<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>

<div class="footer">
    <div class="flex-container">
        <div class="footer-text">

            <span id="busuanzi_container_site_pv">茶馆诗集总访问量<span id="busuanzi_value_site_pv"></span>次
</span>

            <% if (theme.footer.other_info.enable) {%>
                <%= theme.footer.other_info.content %>
                <br>
            <% }%>
            <% if (theme.footer.copyright_info.enable) {%>
                <%= theme.footer.copyright_info.author %> | 
            <% }%>
            <% if (theme.footer.powered_by.enable) {%>
                Powered by <a href="https://hexo.io/">Hexo</a> & <a href="https://github.com/zoeingwingkei/frame/">Frame</a>
            <% }%>    
        </div>
    </div>
</div>